{%extends 'Student/Shome.html'%}
{%block title%}Student`s home{%endblock%}
{%load static%}
{%block content%}
<h1 align="center" style = "margin-top:10%;font-size:50px;">Welcome to our platform, {{user.username}}!</h1>
<h2 align="center" style ="margin-top: 20px;">Open navigation bar and start to prepare new projects. You have multiple utility functions like editor online, chat rooms and posibilities to communicate with your professors.</h2>
<br>
<h2 align="center">On the lower page we put some ideas for you to make new projects like:</h2>

<h2 align="center" style ="margin-top: 50px;">Navigation bar, Slideshows, Flip an Image, Registers froms, Skill Bar and more.</h2>
<h2 align="center">Let your imagination fly, good luck!</h2>

{%endblock%}