{%extends 'Teacher/thome.html'%}
{%block title%}Teacher`s home{%endblock%}
{%load static%}
{%block content%}
<style>
	.card1 {
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width: 40%;
	  border-radius: 5px;
	  float:right;
	}
	.card2 {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 40%;
		border-radius: 5px;
		float:left;
	  }
	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	
	img {
	  border-radius: 5px 5px 0 0;
	}
	
	.container {
	  padding: 2px 16px;
	}
	</style>
<h1 align="center" style = "margin-top:10%;font-size:50px;">Welcome to our platform, {{user.username}}!</h1>
<h2 align="center">Open navigation bar and start to prepare our students. You have multiple utility functions like editor online, chat rooms and posibilities to prepare courses.</h2>
<br>
<h2 align="center">On the lower page we put some ideas for you to make new projects like:</h2>
<h2 align="center">Navigation bar, Slideshows, Flip an Image, Registers froms, Skill Bar and more.</h2>
<h2 align="center">Let your imagination fly, good luck!</h2>
{%endblock%}